<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pandora_csharp_sdkTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="pandora_csharp_sdkTests2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pandora_csharp_sdkTests.Properties.Settings>
            <setting name="NewRepoName" serializeAs="String">
                <value>cstest</value>
            </setting>
            <setting name="AccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
        </pandora_csharp_sdkTests.Properties.Settings>
        <pandora_csharp_sdkTests2.Properties.Settings>
            <setting name="AccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="NewRepoName" serializeAs="String">
                <value />
            </setting>
        </pandora_csharp_sdkTests2.Properties.Settings>
    </userSettings>
</configuration>